<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.FluidAlgorithms.timetable"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Fluid Algorithms"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.FluidAlgorithms.timetable.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            ><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>




        <activity
            android:name="com.FluidAlgorithms.timetable.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.FluidAlgorithms.timetable.activities.HomeworksActivity"
            android:label="@string/homeworks"
            android:parentActivityName="com.FluidAlgorithms.timetable.activities.MainActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.FluidAlgorithms.timetable.activities.HomeworksActivity" />

        <activity
            android:name="com.FluidAlgorithms.timetable.activities.NotesActivity"
            android:label="Notes"
            android:parentActivityName="com.FluidAlgorithms.timetable.activities.MainActivity" />
        <activity
            android:name="com.FluidAlgorithms.timetable.activities.NoteInfoActivity"
            android:label="Notes"
            android:parentActivityName="com.FluidAlgorithms.timetable.activities.NotesActivity" />
        <activity
            android:name="com.FluidAlgorithms.timetable.activities.TeachersActivity"
            android:label="Contacts"
            android:parentActivityName="com.FluidAlgorithms.timetable.activities.MainActivity" />
        <activity
            android:name="com.FluidAlgorithms.timetable.activities.SettingsActivity"
            android:label="Settings"
            android:parentActivityName="com.FluidAlgorithms.timetable.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.FluidAlgorithms.timetable.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.FluidAlgorithms.timetable.activities.ExamsActivity"
            android:label="Events"
            android:parentActivityName="com.FluidAlgorithms.timetable.activities.MainActivity" />

        <activity
            android:name="com.FluidAlgorithms.timetable.activities.AboutUs"
            android:label="About Us"
            android:parentActivityName="com.FluidAlgorithms.timetable.activities.MainActivity" />

        <activity
            android:name="com.FluidAlgorithms.timetable.activities.Links"
            android:label="Links"
            android:parentActivityName="com.FluidAlgorithms.timetable.activities.MainActivity"



            />

        <receiver
            android:name="com.FluidAlgorithms.timetable.utils.DailyReceiver"
            android:enabled="true" />

        <receiver
            android:name="com.FluidAlgorithms.timetable.utils.WakeUpAlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>




    </application>

</manifest>